vti_encoding:SR|utf8-nl
vti_author:SR|HQ\\ian
vti_modifiedby:SR|HQ\\ian
vti_timelastmodified:TR|15 Jul 2005 18:45:35 -0000
vti_timecreated:TR|20 Dec 2004 07:29:06 -0000
vti_extenderversion:SR|5.0.2.5012
vti_lineageid:SR|{9EDAD613-F3F5-44C7-8671-59AB66838F85}
vti_backlinkinfo:VX|About.aspx Demo/Security.aspx iHR.aspx Download2.aspx Download3.aspx email2.aspx Pricing2.aspx Pricing3.aspx Sales.aspx Demo/Equipment.aspx Demo/LeaveReports.aspx JL.aspx iFMLA.aspx Index2.aspx iSS.aspx Key.aspx Key2.aspx Support.aspx thankYou2.aspx Resources/HRResources.aspx Index.aspx Demo/LeaveCheck.aspx FAQ2.aspx iLeave.aspx Demo/Benefits.aspx Demo/FMLASchedule.aspx JLPromo.aspx
vti_nexttolasttimemodified:TW|24 Jun 2005 17:17:12 -0000
vti_cacheddtm:TX|02 Mar 2005 06:25:40 -0000
vti_filesize:IR|940
